body{
	background-color: #000B15;
	color: #999999;
	font-family: "Times New Roman", Times, serif;
}
#sideNav{
    height: 100%;
    width: auto;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
}
.sideNav ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    color: #999999;
}

li a {
    display: block;
    color: #999999;
    padding: 12px 10px 8px 14px;
    text-decoration: none;
}
li a:hover{
	text-decoration: none;

}
.active:hover{
	color: yellow;
}

.profile{
	margin: 16px;
	margin-left: 30px;
	height: 6%;
	border-right: 0.5px solid #bbb; 
}
#badge{
	background-color: red; 
	border-radius: 10px;
	
}

#search{
	
	border-radius:15px;
	text-align: center;
	margin-left: 4 0px;
}



#rating{
	color: gold;
	margin-left: 5px;

}
#rate{
	color:#999999; 
}
#content a {
	color:white;
}
#se{
	position: relative;

}


@media (min-width: 200px)
{
  #sideNav{
    height: 100%;
    width: auto;
    
   
}
.active {
    background-color: blue;
    color: white;
    width: 60%;

}

#content{
	margin-left: 50%;
	width: 80%;
	
}
#trends{
	margin-left: 50%;
	color: white;
	width: 100%;
	order: 1;
}

h2 {
    font-size: 20px;
}
}



@media (min-width: 900px){
	#trends{
		
	margin-left: 20%;
	color: white;
	width: 100%;
}
#content{
	margin-left: 20%;
	width: 80%;

	
}

.active {
    background-color: blue;
    color: white;
    width: auto;

}
h2 {
    font-size: 40px;
}
#search{
	margin-left: 50%;
}

}

/*desktop*/
